<launch>
  <!-- Starte Gazebo mit einer leeren Welt -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtle)/maps/myWorld.world" />
  </include>

  <!-- Starte den TurtleBot 3 Burger in Gazebo -->
  <arg name="model" default="burger"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="yaw"   default="0.0"/>

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_turtlebot3" output="screen"
        args="-urdf -param robot_description -model turtlebot3 -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y $(arg yaw)" />

  <!-- Start RViz with your personal configuration -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find turtle)/cfg/rvizCfg.rviz" />

  <!--  dynamic reconfigure -->
  <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="turtleReconfigure" />

  <!-- roblyat launch controler -->
  <node pkg="turtle" type="robotController" name="turtleController" output="screen" /> 

  <!-- Starte die Steuerung des TurtleBot 3 -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch" /> 
</launch>